@media only screen and (min-width: 320px) {
  .main__wrapper {
    height: 100%;
    background: #fff;
    &__title {
      text-align: center;
      margin: 1.5rem 0;
      height: 55vh;
      h1 {
        font-weight: 400;
        font-size: 2.55rem;
        width: 90%;
        margin: 2.5rem auto;
        padding-top: 1.5rem;
        font-family: "Playfair Display", serif;
      }
      span {
        color: $titleColour;
        font-weight: 200;
      }
    }
    &__projects {
      width: 80%;
      margin: 0 auto;
      &__inner {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 20rem;
        // box-shadow: 1px 1px 6px #000;
        margin-bottom: 1.5rem;
        color: white;
        text-align: left;
        position: relative;
        h4 {
          padding: 2.5rem 1rem 0.5rem 1rem;
          font-size: 1rem;
          position: relative;
          z-index: 2;
          @include pFont;
        }
        h2 {
          padding: 0 1rem 1rem 1rem;
          position: relative;
          font-size: 1.75rem;
          z-index: 2;
          @include hFont;
        }
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 100%;
          height: 100%;
          background-color: $background;
          opacity: 0.45;
        }
      }
    }
    &__clients {
      width: 85%;
      margin: 0 auto;
      padding: 1rem 0;
      h2 {
        @include hFont;
        font-size: 1.65rem;
        text-align: center;
        span {
          color: $titleColour;
        }
      }
      &__wrapper {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        padding: 1rem 0;
        &__boxes {
          width: 55%;
          margin: 0 auto;
          padding: 1rem 0;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 375px) {
  .main__wrapper {
    &__title {
      height: 50vh;
      h1 {
        font-size: 2.9rem;
      }
    }
    &__projects {
      &__inner {
        height: 25rem;
        h4 {
          font-size: 1.25rem;
        }
        h2 {
          font-size: 1.95rem;
        }
      }
    }
    &__clients {
      h2 {
        font-size: 1.95rem;
      }
    }
  }
}
@media only screen and (min-width: 414px) {
  .main__wrapper {
    &__title {
      height: 42.5vh;
      h1 {
        font-size: 2.8rem;
      }
    }
    &__projects {
      &__inner {
        h4 {
          font-size: 1.35rem;
        }
        h2 {
          font-size: 2.2rem;
        }
      }
    }
    &__clients {
      h2 {
        font-size: 2.2rem;
      }
    }
  }
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .main__wrapper {
    &__title {
      height: 15vh;
      h1 {
        font-size: 3rem;
      }
    }
    &__projects {
      &__inner {
        h4 {
          font-size: 1.35rem;
        }
        h2 {
          font-size: 2.2rem;
        }
      }
    }
    &__clients {
      h2 {
        font-size: 2.2rem;
      }
    }
  }
}
