@import "variables";
@media only screen and (min-width: 320px) {
  .main__header__wrapper {
    background: #fff;
    position: relative;
    z-index: 4;
    height: 80vh;
    padding: 4.5rem 0;
    text-align: center;
    h1 {
      @include hFont;
      font-weight: 200;
      width: 90%;
      margin: 0 auto;
      color: $background;
      font-size: 2.55rem;
      text-align: center;
      span {
        color: $titleColour;
        display: block;
      }
    }
  }
}
@media only screen and (min-width: 375px) {
  .main__header__wrapper {
    height: 50vh;
    padding: 4.5rem 0;
  }
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .main__header__wrapper {
    height: 40vh;
    padding: 5.5rem 0;
  }
}
@media only screen and (min-width: 768px) {
  .main__header__wrapper {
    height: 30vh;
    padding: 5.5rem 0;
    h1 {
      // font-size: 2.5rem;
    }
  }
}
