@media only screen and (min-width: 320px) {
  .news__wrapper {
    width: 100%;
    height: 100%;
    .news__size__override {
      background: $altFooter;
      position: relative;
      z-index: 4;
      height: 55vh;
      padding: 3rem 0;
      text-align: center;
      h1 {
        @include hFont;
        font-weight: 200;
        width: 90%;
        margin: 0 auto;
        color: $background;
        font-size: 2.55rem;
        text-align: center;
        color: #fff;
        span {
          color: $titleColour;
          display: block;
        }
      }
    }
    &__container {
      width: 100%;
      margin: 0 auto;

      &__blogs {
        padding: 2rem 0;
        &:nth-child(odd) {
          background-color: #ebeff5;
        }
        &:nth-child(even) {
          background-color: #fff;
        }
        &__inner {
          width: 85%;
          margin: 0 auto;
          &__content {
            h2 {
              @include hFont;
              font-size: 2.25rem;
              padding: 0.5rem 0 1rem 0;
              border-bottom: solid 2px $fontColour;
            }
            h5 {
              font-weight: 800;
              font-size: 1.1rem;
              padding-top: 1rem;
            }
            h6 {
              font-weight: 800;
              font-size: 1.05rem;
              color: $background;
              margin-top: 0.25rem;
            }
            p {
              margin: 0.5rem 0;
              font-size: 1rem;
            }
            &__btn {
              width: 60%;
              margin: 1.5rem auto 1rem 0;
              button {
                width: 100%;
                background: $titleColour;
                border: none;
                margin-top: 0.25rem;
                border-radius: 2.5px;
                padding: 0.75rem;
                font-size: 0.85rem;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 2.5px;
              }
            }
          }
          &__img {
            width: 100%;
            padding: 0.75rem 0;
            img {
              width: 100%;
              height: 12rem;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 375px) {
  .news__wrapper {
    .news__size__override {
      height: 40vh;
      padding: 4.5rem 0;
    }
  }
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .news__wrapper {
    .news__size__override {
      padding: 6.5rem 0 4rem 0;
      height: 40vh;
    }
  }
}
@media only screen and (min-width: 768px) {
  .news__wrapper {
    .news__size__override {
      height: 30vh;
      h1 {
        padding-top: 1rem;
      }
    }
    &__container {
      &__blogs {
        &__inner {
          display: flex;
          justify-content: space-between;
          &__content {
            width: 40%;
          }
          &__img {
            width: 50%;
            img {
              height: 90%;
              padding: 2.5rem 0;
            }
          }
        }
        &:nth-child(even) {
          .news__wrapper__container__blogs__inner {
            .news__wrapper__container__blogs__inner__content {
              order: 2;
              text-align: right;
              .news__wrapper__container__blogs__inner__content__btn {
                margin: 1.5rem 0 1rem auto;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .news__wrapper {
    .news__size__override {
      h1 {
        font-size: 3.75rem;
      }
    }
  }
}
@media only screen and (min-width: 1280px) {
  .news__wrapper {
    .news__size__override {
      height: 45vh;
    }
    &__container {
      &__blogs {
        &__inner {
          &__img {
            padding: 0;
            height: 20rem;
            img {
              height: 100%;
              width: 85%;
            }
          }
        }
      }
    }
  }
}
